#td-obs{
    font-size: 16px;
    color: gray;
    color: #1d2124;

}
@media screen and (max-width: 576px) {
    .campo-obs {
        display: none;
    }

}

@media screen and (max-width: 768px) {
    .campo-obs {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .campo-obs {
        display: none;
    }
}
